{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}
{% import 'macros/user.html' as account %}

{% block title %}Admin - Users / List{% endblock %}

{% block body %}
<div class="row">
    <div class="col-8">
{{ f.search('admin.users') }}

  {% if users.total == 0 %}
    <h3>No results found</h3>

    {% if request.args.get('q') %}
      <p>Try limiting or removing your search terms.</p>
    {% else %}
      <p>There are no users present,
         you should <a href="{{ url_for('user.signup') }}">sign up</a>.</p>
    {% endif %}
  {% else %}
    {% call f.form_tag('admin.users_bulk_delete') %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <label for="select_all"></label>
              <input id="select_all" name="select_all" type="checkbox">
            </th>
            <th class="col-header">
              {{ items.sort('student_number', 'Student Number') }}
            </th>
            <th class="col-header">
              {{ items.sort('name') }}
            </th>
            <th class="col-header">
              {{ items.sort('money', 'Money') }}
            </th>
            <th class="col-header">
              {{ items.sort('current_scenario', 'Scenario') }}
            </th>
            <th id="bulk_actions" colspan="4">
              <div class="form-inline">
                {{ f.field(bulk_form.scope, inline=True) }}
                  <button type="submit"
                          class="btn btn-danger btn-sm">
                    Delete items
                  </button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
        {% for user in users.items %}
          <tr>
            <td>
              <label for="bulk_ids"></label>
              <input class="checkbox-item" id="bulk_ids" name="bulk_ids"
                     type="checkbox" value="{{ user.id }}">
            </td>
            <td>
                {{ user.student_number }}
            </td>
            <td>
              <a href="{{ url_for('admin.users_edit', id=user.id) }}">
                <h4 class="media-heading">{{ user.first_name }}</h4>

                <p class="text-muted">{{ user.email }}</p>
              </a>
            </td>
            <td>
                {{ user.money }}
            </td>
            <td>{{ user.current_scenario }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endcall %}

    {{ items.paginate(users) }}
  {% endif %}
</div>
<div class="col-4">

<div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Change Task for All Students
     </button>
     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
       <a class="dropdown-item" href="{{ url_for('admin.users_bulk_change', scenario=1) }}">None</a>
       <a class="dropdown-item" href="{{ url_for('admin.users_bulk_change', scenario=10) }}">BGP Task 1</a>
       <a class="dropdown-item" href="{{ url_for('admin.users_bulk_change', scenario=20) }}">BGP Task 2</a>
       <a class="dropdown-item" href="{{ url_for('admin.users_bulk_change', scenario=30) }}">BGP Task 3</a>
       <a class="dropdown-item" href="{{ url_for('admin.users_bulk_change', scenario=40) }}">IPv6 Task 1</a>
       <a class="dropdown-item" href="{{ url_for('admin.users_bulk_change', scenario=50) }}">IPv6 Task 2</a>
       <a class="dropdown-item" href="{{ url_for('admin.users_bulk_change', scenario=60) }}">IPv6 Task 3</a>
     </div>
</div>

</div>
</div>  
{% endblock %}
